<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 


    <description>JAXB SAML SP Example.</description>
    <display-name>JAXB SAML SP Example</display-name>


    <servlet>
        <servlet-name>AssertionConsumer</servlet-name>
        <servlet-class>AssertionConsumer</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthnRequester</servlet-name>
        <servlet-class>AuthnRequester</servlet-class>
    </servlet>    


    <servlet-mapping>
        <servlet-name>AssertionConsumer</servlet-name>
        <url-pattern>/AssertionConsumer</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>/Metadata.xml</url-pattern>    
    </servlet-mapping>
      
    <servlet-mapping>
        <servlet-name>AuthnRequester</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

  
</web-app>
